.list {
  padding-top: 20px;
  margin: 10px;
}
h1 {
  display: inline;
  margin-right: 10px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: #0e4eafda;
  font-size: 1rem;
}

/* --- FOR CARDS --- */

.movie_card{
  padding: 0 !important;
  width: 12rem;
  margin:10px; 
  border-radius: 10px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 15px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.movie_card img{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 100%;
}
.movie_info{
  color: #5e5c5c;
  font-size: 0.7rem;
}

.card-title{
  width: 100%;
  height: 0.3rem;
  line-height: 100%;
}
.play_button{
  position: absolute;
  font-size: 5rem;
  color: #0e4eafc0;
  cursor: pointer;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  transition: 0.2s ease;
  opacity: 0;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s ease;
  border-radius: 10px;
  opacity: 0;
}
.card:hover .overlay, .card:hover .play_button {
  opacity: 1;
}
.play_button:hover {
  color: #fff;
}

.credits{
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  border: 2px solid #0e4eafc0;
  font-size: 18px;
}
.credits .card-body{
  padding: 0;
}
.credits p{
  padding-top: 15px;
  padding-left: 18px;
}
.credits .card-body i{
  color: #0e4eafc0;
}


@media screen and (max-width:1024px) {
  .movie_card{
    width: 10rem;
  }
}
@media screen and (max-width:768px) {
  .movie_card{
    width: 8rem;
  }
  .card-title {
    height: .3rem;
  }
}
@media screen and (max-width:560px) {
  .movie_card{
    width: 6.5rem;
  }
  .card-title {
    height: .3rem;
  }
}

